@{
    ViewData["Title"] = "Add Article";
}
<h2 class="text-info">News and Resources</h2>
<div class="buttons-container">
    <a asp-controller="NewsResource" asp-action="News">News</a>
    <a asp-controller="NewsResource" asp-action="Resources">Resources</a>
    <a asp-controller="NewsResource" asp-action="AddArticle">Add Article</a>
</div>