@{
    ViewData["Title"] = "Add Article";
}
<h2 class="text-info">News and Resources</h2>
<br>
<div class="buttons-container">
    <a asp-controller="NewsResource" asp-action="News" class="btn btn-primary text-white">News</a>
    <a asp-controller="NewsResource" asp-action="Resources" class="btn btn-primary text-white">Resources</a>
    <a asp-controller="NewsResource" asp-action="AddArticle" class="btn btn-primary text-white">Add Article</a>
</div>