@{
    ViewData["Title"] = "About Us";
}

<section class="home-banner-container">
    <img src="~/images/hello.jpg" width="100%">
</section>

<p></p>
<!-- Buttons
<h1 class="display-4">About Us</h1>
<section class="aboutus-content">
<p id="demo"> </p>
 <button type="button"
 onclick='document.getElementById("demo").innerHTML = "We are Huy Anh, Anh Pham, and Rica Rabang. We are designers, leaders, strategists, and tired students."'>Who We Are</button>

 <p id="demo1"> </p>
  <button type="button"
  onclick='document.getElementById("demo1").innerHTML = "Fairleigh Dickinson University, Vancouver, BC."'>Where Are We From</button>
  <p id="demo2"> </p>
   <button type="button"
   onclick='document.getElementById("demo2").innerHTML = "What we value the most is integrity and the stop to false information in especially troubling times. We appreciate your trust in us, and we aim to give the most accurate data to you!"'>What Matters to Us</button>
   <p id="demo3"> </p>
    <button type="button"
    onclick='document.getElementById("demo3").innerHTML = "We are triple-checking resources and the authors to validate them for you, while you can also validate them yourselves by clicking on our References."'>What We Do</button>
</section>-->


<!-- Normal View-->
 <section class="aboutus-content">
   <div class="text-center">
     <div class="content">
         <h2>Who We Are</h2>
         <p>Hello! We are Huy Anh, Anh Pham, and Rica Rabang, Fairleigh Dickinson University students, from Vancouver, BC. </p>
         <img src="~/images/Harry.jpeg" width="25%"> <img src="~/images/Anh.jpeg" width="25%"> <img src="~/images/Rica.jpeg" width="25%">
         <p>We're designers, leaders, strategists, and tired students.</p>
         <p>We have over three years of experience in the IT industry, producing exciting websites that are as smart as they are effective.</p>
     </div>
     <div class="content">
         <h2>What Matters to Us</h2>
         <p>What we value the most is integrity and the stop to false information in especially troubling times. We appreciate your trust in us, and we aim to give the most accurate data to you!</p>
     </div>
     <div class="content">
         <h2>What We Do</h2>
         <p>We are triple-checking resources and the authors to validate them for you, while you can also validate them yourselves by clicking on our References.</p>
</div>
</div>
 </section>
