@{
    ViewData["Title"] = "Home Page";

}

<section class="home-banner-container">
    <img src="images/banner.jpg" class="home-banner" width="100%">
</section>

<section class="home-content">
    <h1>About Covid-19</h1>
    <div class="content">
        <h2>1. What is Covid-19?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat quam ac quam dictum cursus. Sed rutrum luctus mauris, in cursus arcu dignissim sit amet. In sed nisi ultrices lectus placerat consequat. Etiam ac diam a ante sagittis sollicitudin ac vitae justo. Duis blandit nisi sed mi suscipit, vel ullamcorper orci vestibulum. Vivamus ut libero felis. Donec nec lorem placerat, facilisis ante eget, laoreet leo. Maecenas non sagittis lacus. Suspendisse mattis leo et elit facilisis, vitae sagittis urna aliquet. Ut commodo hendrerit enim, vel condimentum magna rhoncus et. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
    <div class="content">
        <h2>2. Effects</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat quam ac quam dictum cursus. Sed rutrum luctus mauris, in cursus arcu dignissim sit amet. In sed nisi ultrices lectus placerat consequat. Etiam ac diam a ante sagittis sollicitudin ac vitae justo. Duis blandit nisi sed mi suscipit, vel ullamcorper orci vestibulum. Vivamus ut libero felis. Donec nec lorem placerat, facilisis ante eget, laoreet leo. Maecenas non sagittis lacus. Suspendisse mattis leo et elit facilisis, vitae sagittis urna aliquet. Ut commodo hendrerit enim, vel condimentum magna rhoncus et. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
    <div class="content">
        <h2>3. Symptoms</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat quam ac quam dictum cursus. Sed rutrum luctus mauris, in cursus arcu dignissim sit amet. In sed nisi ultrices lectus placerat consequat. Etiam ac diam a ante sagittis sollicitudin ac vitae justo. Duis blandit nisi sed mi suscipit, vel ullamcorper orci vestibulum. Vivamus ut libero felis. Donec nec lorem placerat, facilisis ante eget, laoreet leo. Maecenas non sagittis lacus. Suspendisse mattis leo et elit facilisis, vitae sagittis urna aliquet. Ut commodo hendrerit enim, vel condimentum magna rhoncus et. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
    <div class="content">
        <h2>4. Prevention</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat quam ac quam dictum cursus. Sed rutrum luctus mauris, in cursus arcu dignissim sit amet. In sed nisi ultrices lectus placerat consequat. Etiam ac diam a ante sagittis sollicitudin ac vitae justo. Duis blandit nisi sed mi suscipit, vel ullamcorper orci vestibulum. Vivamus ut libero felis. Donec nec lorem placerat, facilisis ante eget, laoreet leo. Maecenas non sagittis lacus. Suspendisse mattis leo et elit facilisis, vitae sagittis urna aliquet. Ut commodo hendrerit enim, vel condimentum magna rhoncus et. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
</section>